<a href="https://colab.research.google.com/github/Maygummy16/bung/blob/main/python_crash_course_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 1

1 ) จงเขียนโปรแกรมเพื่อแสดงผลข้อความดังต่อไปนี้

1.1 )
```
Welcome to python crash course.
I'm ready to learn python!
```

In [ ]:
print("Welcome to python crash course.")
print("I'm ready to learn python!")

Welcome to python crash course.
I'm ready to learn python!

1.2 ) Hint: ให้โปรแกรมแสดงตัวอักษร `\` จะต้องพิมพ์ `\\`
```
  /\
 /  \  /\
/    \/  \
```

In [ ]:
print("  /\\")
print(" /  \\  /\\")
print("/    \\/  \\")

  /\
 /  \  /\
/    \/  \

2 ) จงเขียนโปรแกรมเพื่อให้แสดงผลลัพธ์ของประพจน์ดังต่อไปนี้

2.1 ) $\frac{-4 + \sqrt{5}}{7^2}$

In [ ]:
print((-4+5**0.5)/(7**2))

-0.03599861270408592

2.2 ) $\sqrt{\sqrt{\sqrt{19}-3}-1}$

In [ ]:
print((((19**0.5 - 3)**0.5)-1)**0.5)

0.40708501485585497

#Exercise 2

1 ) เขียนโปรแกรมเพื่อรับข้อมูลจำนวนเต็ม 1 ตัว $x$ จากนั้นให้แสดงผลค่าของ $x - 2 + \frac{7}{3}x^2 - \frac{11}{5}x^3 - \log_{10}{x}$<br>
Hint: `from math import log` to use $\log()$

ตัวอย่างที่ 1<br>
input:<br>
```
10
```

output:<br>
```
-1959.6666666666667
```

ตัวอย่างที่ 2<br>
input:<br>
```
15
```

output:<br>
```
-6888.176091259056
```

In [ ]:
from math import log
print("x = ")
x = int(input())
print( x - 2 + 7/3*x**2 - 11/5*x**3 - log(x) )

x =
15
-6889.708050201103

2 ) รับจำนวนเต็มสามจำนวน $h$ $m$ และ $s$ บรรทัดละจำนวน แทน ชั่วโมง นาที และวินาที จากนั้นให้แสดงผลจำนวนวินาทีรวมทั้งหมดที่คำนวณได้

ตัวอย่างที่ 1<br>
input:
```
10
7
22
```

output:
```
Total seconds = 36442
```

ตัวอย่างที่ 2<br>
input:
```
24
0
16
```

output:
```
Total seconds = 86416
```

In [ ]:
print("hour = ")
h = int(input())
print("minute = ")
m = int(input())
print("second = ")
s = int(input())
print(h*60*60 + m*60 + s)

hour =
10
minute =
7
second =
22
36442

3 ) รับข้อมูลจำนวนเต็ม 3 ตัวทั้งหมดสองชุด $(v_1, v_2, v_3)$ และ $(u_1, u_2, u_3)$ แทนเวกเตอร์ $\vec{v}$ และ $\vec{u}$ จำนวนละบรรทัด (ทั้งหมด 6 บรรทัด) จากนั้นแสดงผลค่า dot product ของ $\vec{v}$ กับ $\vec{u}$<br>
Hint: dot product of $\vec{v}$ and $\vec{u} = $ $\vec{v} ⋅ \vec{u} = v_1u_1 + v_2u_2 + v_3u_3$

ตัวอย่างที่ 1<br>
input:
```
1
2
3
4
5
6
```
output:
```
32
```
ตัวอย่างที่ 2<br>
input:
```
12
3
5
7
6
19
```
output:
```
197
```

2
4
5
6
1
2
24

#Exercise 3

1 ) รับจำนวนเต็ม 3 จำนวน $a, b,$ และ $c$ บรรทัดละจำนวน แล้วแสดงผลค่ามัฐยฐานของจำนวนทั้งสาม

ตัวอย่างที่ 1<br>
input:
```
7
2
5
```
output:
```
5
```
ตัวอย่างที่ 2<br>
input:
```
-1
6
-15
```
output:
```
-1
```

2 ) เขียนโปรแกรมรับค่าจำนวนเต็มบวก $year$ แทนปีในระบบพุทธศักราช ถ้าปีดังกล่าวเป็น Leap Year ให้แสดงผลคำว่า YES ถ้าไม่ใช่ ให้แสดงผลคำว่า NO

Leap Year คือปีในระบบคริสต์ศักราชที่หารด้วย 4 ลงตัวแต่หารด้วย 100 ไม่ลงตัว **หรือ** หารด้วย 400 ลงตัว

ตัวอย่างที่ 1<br>
input:
```
2543
```
output:
```
YES
```
ตัวอย่างที่ 2<br>
input:
```
2243
```
output:
```
NO
```

2243
NO

#Exercise 4

1 ) จงเขียนโปรแกรมรับจำนวนเต็ม 1 จำนวน $n$ แล้วแสดงสูตรคูณแม่ $n$

ตัวอย่างที่ 1<br>
input:
```
5
```
output:
```
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
```
ตัวอย่างที่ 2<br>
input:
```
17
```
output:
```
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170
17 x 11 = 187
17 x 12 = 204
```

3
3  x  1 = 3
3  x  2 = 6
3  x  3 = 9
3  x  4 = 12
3  x  5 = 15
3  x  6 = 18
3  x  7 = 21
3  x  8 = 24
3  x  9 = 27
3  x  10 = 30
3  x  11 = 33
3  x  12 = 36

2 )

กำหนดจำนวนเต็มบวก $k$ และ ชุดข้อมูลของจำนวนเต็มบวกทั้งหมด $n$ ตัว $a_1, a_2, a_3, \dots, a_n$

จงเขียนโปรแกรมเพื่อหาผลรวมของจำนวนคู่บวกทั้งหมดในชุดข้อมูลที่มีค่าน้อยกว่าหรือเท่ากับ $k$

**> Input**<br>
<b>บรรทัดแรก</b> จำนวนเต็ม $n$ และ $k$<br>
<b>บรรทัดที่สอง</b> ประกอบด้วยจำนวนเต็ม $n$ ตัว $a_1, a_2, a_3, \dots, a_n$ คั่นด้วยช่องว่าง

**> Output**<br>
<b>มีบรรทัดเดียว</b> ผลรวมของจำนวนคู่บวกทั้งหมดในชุดข้อมูลที่มีค่าน้อยกว่าหรือเท่ากับ $k$

**> Example**<br>
input:
```
10 6
1 2 3 4 5 6 7 8 9 10
```
output:
```
12
```
input:
```
10 8
2 6 7 5 10 2 9 7 4 6
```
output:
```
20
```

#Exercise 5

1 ) จงเขียนโปรแกรมภายในฟังก์ชัน `gcd(a, b)` ที่กำหนดให้ เพื่อให้ฟังก์ชันดังกล่าวคืนค่ากลับมาเป็น ห.ร.ม. ของ `a` และ `b`

Hint: สามารถใช้ฟังก์ชัน `min(x, y)` เพื่อใช้ค่าที่น้อยกว่าระหว่าง `x` กับ `y` ได้

input:
```
8 12
```
output:
```
4
```
input:
```
36 14
```
```
2
```

8 12
4

2 )

ที่จังหวัดแห่งหนึ่งมีผู้ลงสมัครเลือกตั้งเป็นผู้ว่าจังหวัดทั้งหมด $n$ คน โดยให้ผู้สมัครคนที่ $i$ $(1 \leq i \leq n)$ มีชื่อว่า $s_i$ และมีผู้เข้าใช้สิทธิเลือกตั้งทั้งหมด $m$ คน แต่ละคนสามารถโหวตผู้ลงสมัครเลือกตั้งได้เพียง 1 คน

จงเขียนโปรแกรมเพื่อแสดงผลคะแนนที่สูงที่สุดของผู้ชนะการเลือกตั้ง

**> Input**<br>
**บรรทัดแรก** จำนวนเต็มสองจำนวน $n$ และ $m$<br>
**$n$ บรรทัดต่อมา** แต่ละบรรทัดย่อยที่ $i$ $(1 \leq i \leq n)$ แสดงชื่อของผู้สมัคร $s_i$<br>
**บรรทัดสุดท้าย** string จำนวน $m$ ตัว แสดงถึงรายชื่อที่ผู้ใช่สิทธิเลือกตั้งแต่ละคนเลือก

**> Output**<br>
**มีบรรทัดเดียว** คะแนนที่สูงที่สุดของผู้ชนะการเลือกตั้ง

input:
```
3 5
Mookrob
Thanakrit
Somchai
Somchai Thanakrit Somchai Somchai Mookrob
```
output:
```
3
```

2 1
ee
rrt
ee rrt ee
2